html{
  scroll-behavior: smooth;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* header style start here */
header{
  display: block;
  background-image: url('../images/background/2.png');
  background-size: cover;
  background-position: right;
  height: 100vh;
}

.landing{
  border-bottom: 1px solid #999;
  height: 70px;
}

.menu-box{
  display: block;
  position: relative;
  animation: m-box .9s;
}

.menu-box::after{
  content: '';
  display: block;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #bbb;
  animation: mbx .8s;
}

.logos{
  cursor: pointer;
  float:left;
  margin: 30px 0 20px 50px;
}

.logos p{
  font-size: 33px;
  color:#fff;
  letter-spacing: .1em;
  font-weight: 700;
}

#menus{
  float: right;
  margin: 25px 100px 0 0;
}

.menus li{
  text-align: center;
  display: block;
  list-style: none;
  float: left;
  padding-left: 30px;
  position: relative;
}

.menus li::after{
  content:'';
  display: block;
  position: absolute;
  top:42px;
  right:-5px;
  width: 75%;
  border-bottom: 4px solid #fff;
  transform: scale(0);
  transform-origin: right;
  transition: transform .5s ease-in-out;
}

.menus li:hover::after{
  transform: scale(1);
  transform-origin: left;
  /* width: 75%; */
  transition: transform .5s ;
}

.menus a{
  text-decoration: none;
  font-size: 19px;
  color: #eee;
}

.texts{
  border-left: 5px solid #fff;
  height: 250px;
  position: absolute;
  top: 400px;
  left: 60px;
  animation: dot-texts 3s;
}

.texts p, .texts h1{
  color: #fff;
  padding-left: 25px;
}

.texts p:nth-child(1){
  font-size: 21px;
  animation: texts-P 1.2s ease-out;
}

.texts h1{
  font-size: 85px;
}

.texts p:nth-child(3){
  text-transform: capitalize;
  font-size: 35px;
}

.texts p:nth-child(4){
  position: relative;
  border: 1px solid #fff;
  border-radius: 3px;
  width: 180px;
  height: 60px;
  font-size: 20px;
  margin-top: 25px;
  margin-left: 25px;
  padding:18px 10px 0 28px;
  animation: download-button 2s ease-in-out;
}
.download::after{
  content: '';
  position: absolute;
  border: 1px solid #fff;
  width: 100%;
  left: 0;
  bottom: 0;
  top: 0;
  opacity: .5;
  transform: scaleY(0);
  background: #ddd;
  transform-origin: center;
  transition: transform 800ms ease-in-out;
  animation: download-hover 5s ease-in-out infinite alternate;
}
.download:hover::after{
  transform: scaleY(1);
  transform-origin: center;
  transition: transform .7s ease-out;
}
/* header style end here */

/* about style start here */
#about{
  display: block;
  position: relative;
  background: #fefefe;
  height: 100vh;
}

.top-text{
  float: right;
  margin: 30px 100px 0 0;
}

.top-text h1{
  text-align: center;
  font-size: 55px;
  line-height: 67px;
  font-weight: normal;
  text-transform: uppercase;
}

.top-text h1::after{
  content: '';
  display: block;
  position: absolute;
  background-color: #B0CA49;
  height: 3.8px;
  width: 197px;
  top: 90px;
}

.top-text p{
  text-align: center;
  text-transform:uppercase;
  color: #887575;
  padding-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

.about-content{
  padding-top: 150px;
  display: inline-block;
  position: absolute;
  background: #887575;
}

.about-content img{
  position: absolute;
  width: 665px;
  height: 535px;
  left:674px;
  top: 165px;
}

.about-information{
  text-align:right;
  position: absolute;
  width: 520px;
  margin-top: 20px;
  margin-left: 100px;
}

.about-information h1{
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: 100;
  text-transform: uppercase;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.about-information h3 {
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: 450;
  padding-top: 17px;
}

.about-information i{
  color: #8AB874;
  font-style: normal;
  font-weight: normal;
}

.about-information p{
  text-align: right;
  width: 850px;
  padding-top: 20px;
  padding-right: 330px;
  font-size: 16px;
  color: #968d8d;
  letter-spacing: 2px;
}

.bio {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  width: 500px;
  height: 137px;
  top: 278px;
  left: 142px;
}

.bio p{
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  height: 25px;
  width: 100%;
  padding-bottom: 70px;

}

.bio p::after{
  content: '';
  display: block;
  border-bottom: 1px solid #D8C6C6;
  height: 10px;
  margin-right: 30px;
}

.social-button{
  display: block;
  position: absolute;
  top: 640px;
  left: 300px;
}

.social-button img{
  margin-left: 20px;
  height:53px;
  width:54px;
}
/* about style end here */

/* contact style starts here */
#contact{
  height: 80vh;
  width: 100%;
  background: #D9FAFD;
}

#contact > h1{
  padding:25px 0 30px 0;
  text-align: center;
  font-size: 50px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #444;
}

#contact > h1::after{
  content:'';
  display: block;
  position: relative;
  border: 2px solid #E7C665;
  width: 14%;
  margin: 8px auto;
}

#contact > p{
  margin: 30px 0 0 60px;
  font-size: 20px;
  font-weight: 600;
  line-height: 0.04em;
  text-transform: capitalize;
  color: #666;
}

#contact .forms{
  margin-top: 26px;
  display: grid;
  grid-template-areas:
  "name name name email email email"
  "comment comment comment comment comment comment"
  "... ... ... ... ... button";
}

#contact .forms input,
#contact .forms textarea,
#contact .forms button{
  background: #dcd3d3;
  border: 1px solid rgba(220,211,211);
}

#contact .forms button{
  cursor: pointer;
}

#contact .forms input:focus,#contact .forms textarea:focus{
  border: 1px solid rgba(120,111,111);
}

#contact .forms input[type=text],
#contact .forms input[type=email]{
  height: 70px;
  width: 90%;
  margin: 0 auto;
}

#contact .forms input[type=text]{
  grid-area: name;
}

#contact .forms input[type=email]{
  grid-area: email;
}

#contact .forms textarea{
  grid-area: comment;
  margin: 30px auto 0 auto;
  width: 95%;
  height: 160px;
}

#contact .forms input[placeholder=name],
#contact .forms input[placeholder=email],
#contact .forms textarea[placeholder=comment]{
  text-align: center;
  font-size: 30px;
  color: rgba(0,0,0,0.7);
}

#contact .forms button{
  margin-top: 30px;
  margin-right: 35px;
  grid-area: button;
  border:none;
  border-radius: 21px;
  height:50px;
  font-size: 24px;
  color: #fff;
}
/* contact style end here */

/* footer style starts here */
footer{
  height:370px;
  width: 100%;
  background: #000;
  color: #fff;
  text-align: center;
  position: relative;
}

footer > p{
  width: 100%;
  text-align: center;
  display: block;
  position: absolute;
  bottom:10px;
  font-size: 19px;
  color: #999;
}

footer .links-container{
  height: 300px;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}

footer .links-container > div{
  height: 100%;
  width: 250px;
  margin:0 auto;
}

footer .links-container > div ul{
  width: 100%;
  margin-top: 21px;
}

footer .links-container > div li{
  list-style: none;
  margin-top: 19px;
  font-size: 20px;
  line-height: 37px;
}

footer .links-container > div li a{
  text-decoration: none;
  color: #888;
}

footer .links-container > div h1{
  letter-spacing: 0.1em;
  font-size: 40px;
  font-weight: normal;
  color: #aaa;
}
/* footer style end here */

/* all animation style starts here */
@keyframes dot-texts {
  from{height:0;}
  to{height:250px;}
}
@keyframes texts-P {
  0%{font-size: 0;padding-left: 0;}
  50%{padding-left: 40px;font-size: 28px;}
}
@keyframes download-hover {
  25%{background: #2ecc71;}
  50%{background: #74b9ff;}
  75%{background: #fab1a0;}
  100%{background: #4cd137;}
}
@keyframes download-button {
  from{
    top: 200px;
    left: -200px;
  }
  to{
    top: 0;
    left: 0;
  }
}
@keyframes m-box {
  from{
    border-bottom: none;
    top: -80px;
  }
  to{
    top: 0;
    bord
    er-bottom: 1px;
  }
}
@keyframes mbx {
  0%{
    transform: scale(0);
    transform-origin: center;
    transition: transform .7s;
  }
  100%{
    transform: scale(1);
    transform-origin: center;
    transition: transform .7s;
  }
}
@media screen and (max-width:900px) {
  h1{
    font-size: 3rem;
  }
  p {
    font-size: 1rem;
  }

/* end of animation style */
